body{
    background-image: url(https://i.pinimg.com/originals/43/43/f7/4343f705f8da91ee5a5b8aecb0b2e3c9.jpg);
    background-size: cover;
    text-align: center;
    font-family: 'Oswald';
}
h1,h2,h3,h4,h5,h6, #texto{
    background-color: black;
    color: white;
}

#texto{
    font-size: 20px;
}

img{
    width: 500px;
    border-radius: 50px;
}

a{
    background-color: white;
}